.footer {
    background-color: #edeef1;
    color: #0a0a0a;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1 1 250px;
    margin: 10px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 10px 0;
  }
  
  .footer-section ul li a {
    color: #141414;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-section p {
    margin: 10px 0;
  }
  
  .footer-section a {
    color: #0b0a0a;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .social-icons a {
    margin: 0 10px;
    font-size: 1.5em;
    color: #121111;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #0e7abd;
  }
  
  .footer-section form {
    display: flex;
    flex-direction: column;
  }
  
  .footer-section input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  
  .footer-section button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .footer-section button:hover {
    background-color: #0056b3;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
  }
  